---
import type { HTMLAttributes } from 'astro/types'

interface Props extends HTMLAttributes<'h2'> {}

const { class: className, ...props } = Astro.props
---

<h2
  class:list={[
    'font-display text-[2rem]/10 tracking-tight text-pretty text-neutral-800 sm:text-5xl/14',
    className,
  ]}
  {...props}
>
  <slot />
</h2>
